

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Service Requests</a></li>
  <li><a data-toggle="tab" href="#menu1">Service Providers</a></li>
</ul>




<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
  	
    <p><%= render template: "service_requests/index" %></p>
  </div>

  <div id="menu1" class="tab-pane fade">
  	
        <p><%= render template: "service_providers/index" %></p>
  </div>



  </div>
